minidlna:
  image: vimagick/minidlna
  ports:
    - "0.0.0.0:1900:1900/udp"
    - "0.0.0.0:8200:8200/tcp"
  net: "host"
  command: minidlnad -d
  volumes:
    - {{downloadLocation}}:/opt
    - ./minidlna.conf:/etc/minidlna.conf
    - ./cache:/var/cache/minidlna
  container_name: minidlna
  restart: always
