samba:
  image: joebiellik/samba-server
  volumes:
    # You must provide a Samba config file
    - ./smb.conf:/etc/samba/smb.conf
    # Shares
    - {{downloadLocation}}:/shares/downloads
    - {{sambaWebShareLocation}}:/shares/web
    - {{sambaUtilShareLocation}}:/shares/util
    - {{sambaPicturesShareLocation}}:/shares/pictures
    - {{sambaOtherShareLocation}}:/shares/other
  ports:
    - "192.168.1.254:137:137/udp"
    - "192.168.1.254:138:138/udp"
    - "192.168.1.254:139:139/tcp"
    - "192.168.1.254:445:445/tcp"
  restart: always
  container_name: samba
  environment:
    #- USERNAME=joe
    #- PASSWORD=samba
    # Defaults
    - UID=1000
    - GID=1000
    - GROUP=samba
    - CONFIG=/config/smb.conf
