nginx:
  image: nginx
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - /etc/letsencrypt/live/{{fqdn}}/cert.pem:/etc/nginx/ssl/cert.crt
    - /etc/letsencrypt/live/{{fqdn}}/privkey.pem:/etc/nginx/ssl/key.key
    - ~/docker/nginx/webroot:/var/www/nginx/
    - ~/docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    # - ~/temp:/var/www/nginx
  container_name: nginx
  restart: always
