user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    server {
      listen 80;
      # server_name lhs.mooo.com;
      server_name {{fqdn}};
      # root /var/www/nginx/;
      return 301 https://{{fqdn}}$request_uri;
      #return 301 https://lhs.mooo.com$request_uri;
    }
    
    #This section sets up the ssl connection and the routing from the internet to OSPi
    server {
      listen      443 ssl;
      client_max_body_size    300M;
      server_name   {{fqdn}};
      # server_name   lhs.mooo.com;
      ssl_certificate   "/etc/nginx/ssl/cert.crt"; #replace mycert with actual filename
      ssl_certificate_key "/etc/nginx/ssl/key.key"; #replace mykey with actual filename

      #charset koi8-r;
      access_log  /var/log/nginx/access.log  main;
   
      # sets up the sub-path to ospi (i.e. https://mydomain.com/ospi/)  by setting the location '/ospi/'
      # removing SSL (since OSPi isn't configured for it), and
      # adds information to the request that OPSi used to construct the correct links
      # in the OSPi application (i.e. https://mydomain/ospi/page.html instead of http://xxx.xxx.xxx.xxx:8080/page.html)
      ### location /ospi/ {
      location / {
        proxy_pass http://{{piLanIp}}:80/; #internal network location of your OSPi
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Scheme $scheme;
        ### proxy_set_header X-Script-Name /ospi;
        ### rewrite /ospi/(.*) /$1 break;
      }
    }
}
