version: '3'

networks:
  web:
    external: true

services:
  db:
    image: mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{dbPassword}}
    env_file:
      - db.env

  redis:
    image: redis
    restart: always

  app:  
    image: nextcloud:fpm
    restart: always
    volumes:
      - ./redis.config.php:/usr/src/nextcloud/config/redis.config.php
      - nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=db
    env_file:
      - db.env
    depends_on:
      - db
      - redis
  nextcloud:
    networks:
      web: {}
      default: {}
    links:
    - app
    image: nginx
    restart: always
    volumes:
      - nextcloud:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app

  cron:
    image: nextcloud:fpm
    restart: always
    volumes:
      - ./redis.config.php:/usr/src/nextcloud/config/redis.config.php
      - nextcloud:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis

volumes:
  db:
  nextcloud:
